.grid-container {
  height: auto;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header" "main" "footer";
}

.header {
  grid-area: header;
  background-image: linear-gradient(rgb(85, 85, 85), white);
  height: auto;
  width: 100%;
  font-family: "Poppins", sans-serif;
}
.header a {
  text-decoration: none;
  color: black;
  display: inline-block;
  position: relative;
  color: #333;
  text-decoration: none;
}
.header a:after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  transition: all 0.4s;
}
.header a:hover:after {
  width: 100%;
  background: #333;
}

.footer {
  background-image: linear-gradient(rgb(85, 85, 85), white);
}
.footer .div-footer {
  font-family: "Poppins", sans-serif;
  display: grid;
}
.footer .div-footer .lista-footer {
  list-style: none;
  margin: 20px 10px;
}
.footer .div-footer a {
  text-decoration: none;
  color: black;
  display: inline-block;
  position: relative;
  color: #333;
  text-decoration: none;
}
.footer .div-footer a:after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  transition: all 0.4s;
}
.footer .div-footer a:hover:after {
  width: 100%;
  background: #333;
}
.footer .div-footer .copyright {
  font-size: 15px;
  margin-left: 20px;
}

.div-encabezado {
  display: flex;
  justify-content: center;
  align-items: center;
}

.parrafo-nosotros {
  font-size: 20px;
}

.div-encabezado {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lista-menu-main {
  display: grid;
  justify-items: center;
}

.div-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.parrafo-nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  grid-area: main;
}

.seccion-slide {
  background-color: white;
}
.seccion-slide .div-slide {
  width: 80%;
  margin: auto;
}

.seccion-categoria {
  background-color: white;
  width: 100%;
}
.seccion-categoria .div-encabezado {
  font-family: "Poppins", sans-serif;
  height: 200px;
}
.seccion-categoria .div-parrafo {
  width: 50%;
  margin: auto;
}
.seccion-categoria .div-menu-main {
  height: auto;
  width: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
.seccion-categoria .div-menu-main .lista-menu-main {
  list-style: none;
  width: 90%;
  grid-template-columns: auto auto auto;
}
.seccion-categoria .div-menu-main .lista-menu-main .item-categoria {
  width: 90%;
}
.seccion-categoria .div-menu-main .lista-menu-main .item-categoria .img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.seccion-categoria .div-menu-main .lista-menu-main .item-categoria .img:hover {
  transform: scale(1.2);
}
@media screen and (max-width: 450px) {
  .seccion-categoria .lista-menu-main {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: auto auto auto;
  }
}

.lista-menu-main {
  display: grid;
  justify-items: center;
}

.div-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.parrafo-nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  grid-area: main;
}
.main .section-nosotros {
  height: auto;
  background-color: white;
  font-family: "Poppins", sans-serif;
}
.main .section-nosotros .div-h1 {
  height: 100px;
}
.main .section-nosotros .div-h1 .h1-nosotros {
  width: auto;
}
.main .section-nosotros .parrafo-nosotros {
  width: 60%;
  margin: auto;
  height: 200px;
}
.main .section-nosotros .nosotros-slide {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.parrafo-nosotros {
  font-size: 20px;
}

.lista-menu-main {
  display: grid;
  justify-items: center;
}

.div-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.parrafo-nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  grid-area: main;
}
.main .section-nosotros {
  height: auto;
  background-color: white;
  font-family: "Poppins", sans-serif;
}
.main .section-nosotros .div-h1 {
  height: 100px;
}
.main .section-nosotros .div-h1 .h1-nosotros {
  width: auto;
}
.main .section-nosotros .parrafo-nosotros {
  width: 60%;
  margin: auto;
  height: 200px;
}
.main .section-nosotros .nosotros-slide {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.seccion-talles {
  background-color: white;
}
.seccion-talles .h1-talles {
  height: 100px;
  display: flex;
  justify-content: center;
}
.seccion-talles .div-talles {
  display: flex;
  justify-content: center;
}

.seccion-contacto {
  background-color: white;
}
.seccion-contacto .imagen-contacto {
  width: 70%;
  margin: auto;
}
.seccion-contacto .imagen-contacto .img-contacto {
  width: 100%;
}
.seccion-contacto .div-contacto {
  height: 300px;
  display: flex;
  justify-content: center;
}
.seccion-contacto .div-contacto .lista-contacto {
  align-self: center;
}

.div-productos {
  background-color: white;
}

.bg-boton {
  background-color: white !important;
  color: black !important;
  border: none !important;
}

/*# sourceMappingURL=style.css.map */
