*{
    margin: 0px;
    padding: 0px;
}




/*******************listas**************/
ul{
    list-style-type: none;   
}

/****************tipografia************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


/*****************grid area****************/
.grid-container{
    height: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "header"
        "main"
        "footer";
}
 
 
/*********************header*****************/
.header{
    grid-area: header ;
    background-color: rgb(246, 205, 171) ;
    font-family: 'Poppins', sans-serif;
    height: auto;
    width: 100%;
   
}



/***************** navegador logo/iconos**************/   

.nav-logo{
    height: 150px; 
   
} 
.div-logo{   
    display: flex;
    justify-content: center;
    align-content: center;
}

.li-iconos{
    margin: auto 10px;
   display: flex;
   justify-content: flex-end;

}

/* propiedades links */
a{
    outline: none;
    text-decoration: none;
    
}
  
a:link {
    color: black;
  }
  
a:visited {
    color: black;
}
 
.item-menu:hover {
    border-bottom: 1px solid black;
    
}



/************** main****************/
.main{
    grid-area: main;
}



/**************menu**************/
.div-menu{
   
    height: 100px;
    font-size: 20px;    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.nav-menu{
 width: 60%;      
    
}

.lista-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*************mediaquery menu**************/
@media screen and (max-width:450px){
    .lista-menu{
        font-size: 15px;
    }
    .nav-menu{
        width: 100%;
    }
}
    
@media screen and (min-width:451px) and (max-width:960px) {
    .lista-menu{
        font-size: 18px;
    }
    .nav-menu{
       width: 90%;
    } 

}


/******************footer*******************/
.footer{
    grid-area: footer;
    background-color: rgb(246, 205, 171) ;
    height: 150px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
}
.div-footer{   
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-rows: auto auto;
    
}
.lista-footer{
    margin: 20px 20px;  
    justify-self: start;
    align-self: flex-start;
    
}
.copyright{
    font-size: 10px;
  
    margin-left: 20px;
    align-self: flex-end;

}

.div-redes{
    display: grid;
}

.footer-redes{
    font-family: 'Poppins', sans-serif;
    margin: 20px 20px;   
    justify-self: end;
    align-self: flex-end;

}
/****************mediaquery footer********/
.lista-footer{
    font-size: 15px;
}


/***************** slide****************************** */


.div-slide{
    
}
.carrusel li{
    width: 100%;
   
}
.img-slide{
    width: 100%;
}
.carrusel{
    display: flex;   
}

/******
.img-slide{
    width: 100%;
    height: 100%;
   
    object-fit: contain;
}
********/
/********************mediaquery slide************/
@media screen and (max-width: 450px ) {
    .img-slide{
        
        object-fit: contain;   
    }
    
}


/*********** main'categorias de producto***************/

.seccion-categoria{
    background-color: antiquewhite;
    width: 100%;
}

.div-encabezado{
    height: 100px;
    font-family: 'Poppins', sans-serif;   
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}

.encabezado{
    display: flex;
    align-items: flex-end;
}

.div-parrafo{
    font-family: 'Poppins', sans-serif;
    width: auto;
  display: flex;
  margin: 100px;
  justify-content: center;
}
.parrafo{
    font-size: 20px;
    width: 50%;           
}

.div-menu-main{
 height: auto;
 width: auto;
 display: flex;
 justify-content: center;
   
}
.lista-menu-main{
    margin-bottom: 100px;
    width: 90%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    
}
      
.img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    
}
.item-categoria{
    width: 90%;
}


/***************media query main************/


    @media screen and (max-width:450px) {
    
    .div-encabezado{
        height: 50px;
    }

    .div-parrafo{
            margin: 50px auto;
     }
     .parrafo{
            font-size: 15px;
            width: 70%;
    
    }
       
    .div-menu-main{
        display: flex;
        justify-content: center;
    }
    .lista-menu-main{
          
          display: grid;
          grid-template-columns: 100% ;
          grid-auto-rows:auto auto auto;
     }
     
    .item-categoria{
        justify-self: center;
    }
    
    }
    
    @media screen and (min-width:451px) and (max-width:960px ) {
        .div-encabezado{
            height: 60px;
        }
    
         .div-parrafo{
                margin: 50px auto;
         }
         .parrafo{
                font-size: 18px;
                width: 70%;
        
        }

    }    
    
/*******************************  NOSOTROS.HTML******************************** */
.section-nosotros{
    height: auto;
    background-color: antiquewhite;
    font-family: 'Poppins', sans-serif;       
}
.div-h1{
    display: flex;
    height: 100px;
    justify-content: center;  
    align-items: center;  
  
}

.h1-nosotros{    
    width: auto;  
}

.parrafo-nosotros{
    display: flex;
    align-items: center;
    width: 60%;
    margin: auto;
    height: 200px;       
    font-size: 20px;   
}


.nosotros-slide{
    border: solid 2px black;
    display: flex;
    flex-direction: row;
    
}
.carrusel-nosotros{
    display: flex;
}   

/**************** media query NOSOTROS*********************/

@media screen and (max-width:450px) {
    
    .parrafo-nosotros{
        font-size: 15px;
        
    }
    
}

@media screen and (min-width:451px) and (max-width:960px) {
   .parrafo-nosotros{
       font-size: 18px;
   } 

}


/****************************TALLES.html**********************************/
