


$bg-header-footer: linear-gradient(rgb(85, 85, 85), white) ;
$bg-header: linear-gradient( rgb(85, 85, 85), white) ;
$bg-footer: linear-gradient( to top, rgb(85, 85, 85), white) ;
$font: 'Poppins', sans-serif; 
$bg-color: white;
   