
@import '../base/variables';

.grid-container{
    height: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "header"
        "main"
        "footer";
}


.header{
    grid-area: header ;
    background-image: $bg-header-footer;
    height: auto;
    width: 100%;
    font-family: $font;
                    a{
                        text-decoration: none;
                        color: black;
                        display: inline-block;
                        position: relative;
                        color: #333;
                        text-decoration: none;
                    }
                    a:after {
                        content: "";
                        display: block;
                        margin: auto;
                        height: 2px;
                        width: 0px;
                        transition: all .4s;
                        }
                    a:hover:after {
                        width: 100%;
                        background: #333;
                        }
              
}


.footer{
    
    background-image: $bg-header-footer ;
        .div-footer{
                font-family: $font;
                display: grid;
            .lista-footer{
                list-style: none;
                margin: 20px 10px;
                
            }
            a{
                text-decoration: none;
                color: black;
                display: inline-block;
                position: relative;
                color: #333;
                text-decoration: none;
            }
            a:after {
                content: "";
                display: block;
                margin: auto;
                height: 2px;
                width: 0px;
                transition: all .4s;
                }
            a:hover:after {
                width: 100%;
                background: #333;
                }
            .copyright{
                font-size: 15px;
                margin-left: 20px;
            }
        }
}