@import'../base/mixin';
@import'../base/variables';

.main{
    grid-area: main;
            .section-nosotros{
                height: auto;
                background-color: $bg-color;
                font-family: 'Poppins', sans-serif;  
                    .div-h1{                 
                        height: 100px;                       
                            .h1-nosotros{    
                                width: auto;  
                            }
                           }
                    .parrafo-nosotros{                       
                        width: 60%;
                        margin: auto;
                        height: 200px;       
                            
                        }
                        .nosotros-slide{
                            width: 80%;
                            margin: auto;
                            overflow: hidden;                           
                        }
    }
}






